@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --font-sans: 'Public Sans', sans-serif; /* Override default tailwindcss font family */

  /* Custom variables */
  --ui-container: 56rem;
  --ui-header-height: calc(0.25rem * 16);
  --carousel-image-width: calc(calc(var(--ui-header-height) - 128px) / 3);

  /* Animations */
  --animate-scroll-x-left: scroll-x-left 16s linear infinite;

  @keyframes scroll-x-left {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

@custom-variant dark (&:where(.dark, .dark *));
