@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@import 'tailwindcss-primeui';

@theme {
  --font-sans: 'Public Sans', sans-serif; /* Override default tailwindcss font family */

  /* Animations */
  --animate-scroll-x-left: scroll-x-left 6s linear infinite;

  @keyframes scroll-x-left {
    0% {
      transform: translate3d(0, 0, 0);
    }
    100% {
      /* Translate by -50% because content is doubled */
      transform: translate3d(-50%, 0, 0);
    }
  }
}
